/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/Packages/packages-lock.json
/UserSettings/
!/UserSettings/ProjectSettings/ProjectSettings.asset
!/UserSettings/EditorSettings.asset
!/UserSettings/Layouts/